.tcees-logo .cls-1,
.tcees-logo .cls-150,
.tcees-logo .cls-166 {
  fill: none;
}
.tcees-logo .cls-3 {
  clip-path: url(#clip-path);
}
.tcees-logo .cls-4 {
  clip-path: url(#clip-path-2);
}
.tcees-logo .cls-5 {
  isolation: isolate;
}
.tcees-logo .cls-6 {
  clip-path: url(#clip-path-3);
}
.tcees-logo .cls-7 {
  fill: url(#linear-gradient);
}
.tcees-logo .cls-8 {
  clip-path: url(#clip-path-4);
}
.tcees-logo .cls-9 {
  fill: url(#linear-gradient-2);
}
.tcees-logo .cls-10 {
  clip-path: url(#clip-path-5);
}
.tcees-logo .cls-11 {
  fill: url(#linear-gradient-3);
}
.tcees-logo .cls-12 {
  clip-path: url(#clip-path-6);
}
.tcees-logo .cls-13 {
  fill: url(#linear-gradient-4);
}
.tcees-logo .cls-14 {
  clip-path: url(#clip-path-7);
}
.tcees-logo .cls-15 {
  fill: url(#linear-gradient-5);
}
.tcees-logo .cls-16 {
  clip-path: url(#clip-path-8);
}
.tcees-logo .cls-17 {
  fill: url(#linear-gradient-6);
}
.tcees-logo .cls-18 {
  clip-path: url(#clip-path-9);
}
.tcees-logo .cls-19 {
  fill: url(#linear-gradient-7);
}
.tcees-logo .cls-20 {
  clip-path: url(#clip-path-10);
}
.tcees-logo .cls-21 {
  fill: url(#linear-gradient-8);
}
.tcees-logo .cls-22 {
  clip-path: url(#clip-path-11);
}
.tcees-logo .cls-23 {
  fill: url(#linear-gradient-9);
}
.tcees-logo .cls-24 {
  clip-path: url(#clip-path-12);
}
.tcees-logo .cls-25 {
  fill: url(#linear-gradient-10);
}
.tcees-logo .cls-26 {
  clip-path: url(#clip-path-13);
}
.tcees-logo .cls-27 {
  fill: url(#linear-gradient-11);
}
.tcees-logo .cls-28 {
  clip-path: url(#clip-path-14);
}
.tcees-logo .cls-29 {
  fill: url(#linear-gradient-12);
}
.tcees-logo .cls-30 {
  clip-path: url(#clip-path-15);
}
.tcees-logo .cls-31 {
  fill: url(#linear-gradient-13);
}
.tcees-logo .cls-32 {
  clip-path: url(#clip-path-16);
}
.tcees-logo .cls-33 {
  fill: url(#linear-gradient-14);
}
.tcees-logo .cls-34 {
  clip-path: url(#clip-path-17);
}
.tcees-logo .cls-35 {
  fill: url(#linear-gradient-15);
}
.tcees-logo .cls-36 {
  clip-path: url(#clip-path-18);
}
.tcees-logo .cls-37 {
  fill: url(#linear-gradient-16);
}
.tcees-logo .cls-38 {
  clip-path: url(#clip-path-19);
}
.tcees-logo .cls-39 {
  fill: url(#linear-gradient-17);
}
.tcees-logo .cls-40 {
  clip-path: url(#clip-path-20);
}
.tcees-logo .cls-41 {
  fill: url(#linear-gradient-18);
}
.tcees-logo .cls-42 {
  clip-path: url(#clip-path-21);
}
.tcees-logo .cls-43 {
  fill: url(#linear-gradient-19);
}
.tcees-logo .cls-44 {
  clip-path: url(#clip-path-22);
}
.tcees-logo .cls-45 {
  fill: url(#linear-gradient-20);
}
.tcees-logo .cls-46 {
  clip-path: url(#clip-path-23);
}
.tcees-logo .cls-47 {
  fill: url(#linear-gradient-21);
}
.tcees-logo .cls-48 {
  clip-path: url(#clip-path-24);
}
.tcees-logo .cls-49 {
  fill: url(#linear-gradient-22);
}
.tcees-logo .cls-50 {
  clip-path: url(#clip-path-25);
}
.tcees-logo .cls-51 {
  fill: url(#linear-gradient-23);
}
.tcees-logo .cls-52 {
  clip-path: url(#clip-path-26);
}
.tcees-logo .cls-53 {
  fill: url(#linear-gradient-24);
}
.tcees-logo .cls-54 {
  clip-path: url(#clip-path-27);
}
.tcees-logo .cls-55 {
  fill: url(#linear-gradient-25);
}
.tcees-logo .cls-56 {
  clip-path: url(#clip-path-28);
}
.tcees-logo .cls-57 {
  fill: url(#linear-gradient-26);
}
.tcees-logo .cls-58 {
  clip-path: url(#clip-path-29);
}
.tcees-logo .cls-59 {
  fill: url(#linear-gradient-27);
}
.tcees-logo .cls-60 {
  clip-path: url(#clip-path-30);
}
.tcees-logo .cls-61 {
  fill: url(#linear-gradient-28);
}
.tcees-logo .cls-62 {
  clip-path: url(#clip-path-31);
}
.tcees-logo .cls-63 {
  fill: url(#linear-gradient-29);
}
.tcees-logo .cls-64 {
  clip-path: url(#clip-path-32);
}
.tcees-logo .cls-65 {
  fill: url(#linear-gradient-30);
}
.tcees-logo .cls-66 {
  clip-path: url(#clip-path-33);
}
.tcees-logo .cls-67 {
  fill: url(#linear-gradient-31);
}
.tcees-logo .cls-68 {
  clip-path: url(#clip-path-34);
}
.tcees-logo .cls-69 {
  fill: url(#linear-gradient-32);
}
.tcees-logo .cls-70 {
  clip-path: url(#clip-path-35);
}
.tcees-logo .cls-71 {
  fill: url(#linear-gradient-33);
}
.tcees-logo .cls-72 {
  clip-path: url(#clip-path-36);
}
.tcees-logo .cls-73 {
  fill: url(#linear-gradient-34);
}
.tcees-logo .cls-74 {
  clip-path: url(#clip-path-37);
}
.tcees-logo .cls-75 {
  fill: url(#linear-gradient-35);
}
.tcees-logo .cls-76 {
  clip-path: url(#clip-path-38);
}
.tcees-logo .cls-77 {
  fill: url(#linear-gradient-36);
}
.tcees-logo .cls-78 {
  clip-path: url(#clip-path-39);
}
.tcees-logo .cls-79 {
  fill: url(#linear-gradient-37);
}
.tcees-logo .cls-80 {
  clip-path: url(#clip-path-40);
}
.tcees-logo .cls-81 {
  fill: url(#linear-gradient-38);
}
.tcees-logo .cls-82 {
  clip-path: url(#clip-path-41);
}
.tcees-logo .cls-83 {
  fill: url(#linear-gradient-39);
}
.tcees-logo .cls-84 {
  clip-path: url(#clip-path-42);
}
.tcees-logo .cls-85 {
  fill: url(#linear-gradient-40);
}
.tcees-logo .cls-86 {
  clip-path: url(#clip-path-43);
}
.tcees-logo .cls-87 {
  fill: url(#linear-gradient-41);
}
.tcees-logo .cls-88 {
  clip-path: url(#clip-path-44);
}
.tcees-logo .cls-89 {
  fill: url(#linear-gradient-42);
}
.tcees-logo .cls-90 {
  clip-path: url(#clip-path-45);
}
.tcees-logo .cls-91 {
  fill: url(#linear-gradient-43);
}
.tcees-logo .cls-92 {
  clip-path: url(#clip-path-46);
}
.tcees-logo .cls-93 {
  fill: url(#linear-gradient-44);
}
.tcees-logo .cls-94 {
  clip-path: url(#clip-path-47);
}
.tcees-logo .cls-95 {
  fill: url(#linear-gradient-45);
}
.tcees-logo .cls-96 {
  clip-path: url(#clip-path-48);
}
.tcees-logo .cls-97 {
  fill: url(#linear-gradient-46);
}
.tcees-logo .cls-98 {
  clip-path: url(#clip-path-49);
}
.tcees-logo .cls-99 {
  fill: url(#linear-gradient-47);
}
.tcees-logo .cls-100 {
  clip-path: url(#clip-path-50);
}
.tcees-logo .cls-101 {
  fill: url(#linear-gradient-48);
}
.tcees-logo .cls-102 {
  clip-path: url(#clip-path-51);
}
.tcees-logo .cls-103 {
  fill: url(#linear-gradient-49);
}
.tcees-logo .cls-104 {
  clip-path: url(#clip-path-52);
}
.tcees-logo .cls-105 {
  fill: url(#linear-gradient-50);
}
.tcees-logo .cls-106 {
  clip-path: url(#clip-path-53);
}
.tcees-logo .cls-107 {
  fill: url(#linear-gradient-51);
}
.tcees-logo .cls-108 {
  clip-path: url(#clip-path-54);
}
.tcees-logo .cls-109 {
  fill: url(#linear-gradient-52);
}
.tcees-logo .cls-110 {
  clip-path: url(#clip-path-55);
}
.tcees-logo .cls-111 {
  fill: url(#linear-gradient-53);
}
.tcees-logo .cls-112 {
  clip-path: url(#clip-path-56);
}
.tcees-logo .cls-113 {
  fill: url(#linear-gradient-54);
}
.tcees-logo .cls-114 {
  clip-path: url(#clip-path-57);
}
.tcees-logo .cls-115 {
  fill: url(#linear-gradient-55);
}
.tcees-logo .cls-116 {
  clip-path: url(#clip-path-58);
}
.tcees-logo .cls-117 {
  fill: url(#linear-gradient-56);
}
.tcees-logo .cls-118 {
  clip-path: url(#clip-path-59);
}
.tcees-logo .cls-119 {
  fill: url(#linear-gradient-57);
}
.tcees-logo .cls-120 {
  clip-path: url(#clip-path-60);
}
.tcees-logo .cls-121 {
  fill: url(#linear-gradient-58);
}
.tcees-logo .cls-122 {
  clip-path: url(#clip-path-61);
}
.tcees-logo .cls-123 {
  fill: url(#linear-gradient-59);
}
.tcees-logo .cls-124 {
  clip-path: url(#clip-path-62);
}
.tcees-logo .cls-125 {
  fill: url(#linear-gradient-60);
}
.tcees-logo .cls-126 {
  clip-path: url(#clip-path-63);
}
.tcees-logo .cls-127 {
  fill: url(#linear-gradient-61);
}
.tcees-logo .cls-128 {
  clip-path: url(#clip-path-64);
}
.tcees-logo .cls-129 {
  fill: url(#linear-gradient-62);
}
.tcees-logo .cls-130 {
  clip-path: url(#clip-path-65);
}
.tcees-logo .cls-131 {
  fill: url(#linear-gradient-63);
}
.tcees-logo .cls-132 {
  clip-path: url(#clip-path-66);
}
.tcees-logo .cls-133 {
  fill: url(#linear-gradient-64);
}
.tcees-logo .cls-134 {
  clip-path: url(#clip-path-67);
}
.tcees-logo .cls-135 {
  fill: url(#linear-gradient-65);
}
.tcees-logo .cls-136 {
  clip-path: url(#clip-path-68);
}
.tcees-logo .cls-137 {
  fill: url(#linear-gradient-66);
}
.tcees-logo .cls-138 {
  clip-path: url(#clip-path-69);
}
.tcees-logo .cls-139 {
  fill: url(#linear-gradient-67);
}
.tcees-logo .cls-140 {
  clip-path: url(#clip-path-70);
}
.tcees-logo .cls-141 {
  fill: url(#linear-gradient-68);
}
.tcees-logo .cls-142 {
  clip-path: url(#clip-path-71);
}
.tcees-logo .cls-143 {
  fill: url(#linear-gradient-69);
}
.tcees-logo .cls-144 {
  clip-path: url(#clip-path-72);
}
.tcees-logo .cls-145 {
  fill: url(#linear-gradient-70);
}
.tcees-logo .cls-146 {
  clip-path: url(#clip-path-73);
}
.tcees-logo .cls-147 {
  fill: url(#linear-gradient-71);
}
.tcees-logo .cls-148 {
  clip-path: url(#clip-path-74);
}
.tcees-logo .cls-149 {
  fill: url(#linear-gradient-72);
}
.tcees-logo .cls-150 {
  stroke: #d5b32e;
  stroke-miterlimit: 22.93;
  stroke-width: 0.67px;
}
.tcees-logo .cls-151 {
  clip-path: url(#clip-path-75);
}
.tcees-logo .cls-152 {
  fill: url(#linear-gradient-73);
}
.tcees-logo .cls-153 {
  clip-path: url(#clip-path-76);
}
.tcees-logo .cls-154 {
  fill: url(#linear-gradient-74);
}
.tcees-logo .cls-155 {
  clip-path: url(#clip-path-77);
}
.tcees-logo .cls-156 {
  fill: url(#linear-gradient-75);
}
.tcees-logo .cls-157 {
  clip-path: url(#clip-path-78);
}
.tcees-logo .cls-158 {
  fill: url(#linear-gradient-76);
}
.tcees-logo .cls-159 {
  clip-path: url(#clip-path-79);
}
.tcees-logo .cls-160 {
  fill: url(#linear-gradient-77);
}
.tcees-logo .cls-161 {
  clip-path: url(#clip-path-80);
}
.tcees-logo .cls-162 {
  fill: url(#linear-gradient-78);
}
.tcees-logo .cls-163 {
  clip-path: url(#clip-path-81);
}
.tcees-logo .cls-164 {
  fill: url(#linear-gradient-79);
}
.tcees-logo .cls-165 {
  fill: #fff;
  fill-rule: evenodd;
}
.tcees-logo .cls-166 {
  stroke: #9d9896;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.73px;
}
.tcees-logo .cls-167 {
  clip-path: url(#clip-path-82);
}
.tcees-logo .cls-168 {
  fill: url(#linear-gradient-80);
}
.tcees-logo .cls-169 {
  clip-path: url(#clip-path-83);
}
.tcees-logo .cls-170 {
  fill: #c5c5c5;
}
.tcees-logo .cls-171 {
  clip-path: url(#clip-path-84);
}
.tcees-logo .cls-172 {
  fill: url(#linear-gradient-81);
}
.tcees-logo .cls-173 {
  clip-path: url(#clip-path-85);
}
.tcees-logo .cls-174 {
  clip-path: url(#clip-path-86);
}
.tcees-logo .cls-175 {
  fill: url(#linear-gradient-82);
}
.tcees-logo .cls-176 {
  clip-path: url(#clip-path-87);
}
.tcees-logo .cls-177 {
  fill: url(#linear-gradient-83);
}
.tcees-logo .cls-178 {
  clip-path: url(#clip-path-88);
}
.tcees-logo .cls-179 {
  fill: url(#linear-gradient-84);
}
.tcees-logo .cls-180 {
  clip-path: url(#clip-path-89);
}
.tcees-logo .cls-181 {
  fill: url(#linear-gradient-85);
}
.tcees-logo .cls-182 {
  clip-path: url(#clip-path-90);
}
.tcees-logo .cls-183 {
  fill: url(#linear-gradient-86);
}
.tcees-logo .cls-184 {
  clip-path: url(#clip-path-91);
}
.tcees-logo .cls-185 {
  fill: url(#linear-gradient-87);
}
.tcees-logo .cls-186 {
  clip-path: url(#clip-path-92);
}
.tcees-logo .cls-187 {
  fill: url(#linear-gradient-88);
}
.tcees-logo .cls-188 {
  clip-path: url(#clip-path-93);
}
.tcees-logo .cls-189 {
  fill: url(#linear-gradient-89);
}
.tcees-logo .cls-190 {
  clip-path: url(#clip-path-94);
}
.tcees-logo .cls-191 {
  fill: url(#linear-gradient-90);
}
.tcees-logo .cls-192 {
  clip-path: url(#clip-path-95);
}
.tcees-logo .cls-193 {
  fill: url(#linear-gradient-91);
}
.tcees-logo .cls-194 {
  clip-path: url(#clip-path-96);
}
.tcees-logo .cls-195 {
  fill: url(#linear-gradient-92);
}
.tcees-logo .cls-196 {
  clip-path: url(#clip-path-97);
}
.tcees-logo .cls-197 {
  fill: url(#linear-gradient-93);
}
.tcees-logo .cls-198 {
  clip-path: url(#clip-path-98);
}
.tcees-logo .cls-199 {
  fill: url(#linear-gradient-94);
}
.tcees-logo .cls-200 {
  clip-path: url(#clip-path-99);
}
.tcees-logo .cls-201 {
  fill: url(#linear-gradient-95);
}
.tcees-logo .cls-202 {
  clip-path: url(#clip-path-100);
}
.tcees-logo .cls-203 {
  fill: url(#linear-gradient-96);
}
.tcees-logo .cls-204 {
  clip-path: url(#clip-path-101);
}
.tcees-logo .cls-205 {
  fill: url(#linear-gradient-97);
}
.tcees-logo .cls-206 {
  clip-path: url(#clip-path-102);
}
.tcees-logo .cls-207 {
  fill: url(#linear-gradient-98);
}
.tcees-logo .cls-208 {
  clip-path: url(#clip-path-103);
}
.tcees-logo .cls-209 {
  fill: url(#linear-gradient-99);
}
.tcees-logo .cls-210 {
  clip-path: url(#clip-path-104);
}
.tcees-logo .cls-211 {
  fill: url(#linear-gradient-100);
}
.tcees-logo .cls-212 {
  clip-path: url(#clip-path-105);
}
.tcees-logo .cls-213 {
  fill: url(#linear-gradient-101);
}
.tcees-logo .cls-214 {
  clip-path: url(#clip-path-106);
}
.tcees-logo .cls-215 {
  fill: url(#linear-gradient-102);
}
.tcees-logo .cls-216 {
  clip-path: url(#clip-path-107);
}
.tcees-logo .cls-217 {
  fill: url(#linear-gradient-103);
}
.tcees-logo .cls-218 {
  clip-path: url(#clip-path-108);
}
.tcees-logo .cls-219 {
  fill: url(#linear-gradient-104);
}
.tcees-logo .cls-220 {
  clip-path: url(#clip-path-109);
}
.tcees-logo .cls-221 {
  fill: url(#linear-gradient-105);
}
.tcees-logo .cls-222 {
  clip-path: url(#clip-path-110);
}
.tcees-logo .cls-223 {
  fill: url(#linear-gradient-106);
}
.tcees-logo .cls-224 {
  clip-path: url(#clip-path-111);
}
.tcees-logo .cls-225 {
  fill: url(#linear-gradient-107);
}
.tcees-logo .cls-226 {
  clip-path: url(#clip-path-112);
}
.tcees-logo .cls-227 {
  fill: url(#linear-gradient-108);
}
.tcees-logo .cls-228 {
  clip-path: url(#clip-path-113);
}
.tcees-logo .cls-229 {
  fill: url(#linear-gradient-109);
}
.tcees-logo .cls-230 {
  clip-path: url(#clip-path-114);
}
.tcees-logo .cls-231 {
  fill: url(#linear-gradient-110);
}
