.botao {
  background-color: #f0f0f0;
}

.botao.active {
  background-color: var(--color-primary-hover);
  border-color: #1f496d;
  color: white;
}

.botao:hover {
  background-color: #3276af;
  border-color: #2b6595;
  color: white;
}
