.menu-mobile li {
  background-color: white;
  width: calc(100% - 0.25rem);
  @apply rounded-sm;
}

.menu-mobile li > a,
.menu-mobile li > button {
  align-items: center;
  display: grid;
  grid-template-columns: auto 30px;
  width: 100%;
  @apply p-2;
}

.menu-mobile section {
  text-align: start;
}

.menu-mobile section > div {
  @apply text-xs;
  @apply text-gray-medium;
}

.menu-mobile .icon {
  display: flex;
  justify-content: center;
}
