.dropdown-item {
  padding: 0.2rem 1rem;
  text-align: left;
}

.dropdown-item > * {
  display: flex;
  white-space: break-spaces;
  @apply p-1;
  @apply text-black;
}

.dropdown-item:hover {
  @apply bg-gray-200;
}

.dropdown-item.active,
.dropdown-item.active > * {
  @apply text-white;
  @apply bg-sky-700;
}
