.dropdown-modal {
  left: 2vw;
  overflow: hidden;
  position: fixed;
  top: var(--dashboard-header-height);
  width: 96vw;
  @apply bg-white;
  @apply border;
  @apply border-gray-200;
  @apply rounded;
  @apply shadow-black;
  @apply shadow-md;
  @apply z-30;
}

@screen sm {
  .dropdown-modal {
    left: unset;
    position: absolute;
    top: unset;
    width: unset;
  }
}

.dropdown-modal .body {
  max-height: 80vh;
  overflow-x: hidden;
  @apply overflow-y-auto;
  @apply h-full;
}
