:root {
  --circle-list-active-color: #f19146;
  --circle-list-bg-color: #ccc;
  --circle-list-color: white;
  --circle-list-height: calc(3 * var(--circle-list-radius));
  --circle-list-line-color: #ccc;
  --circle-list-radius: 1.15rem;
  --circle-list-gap: 1rem;
}

@screen lg {
  :root {
    --circle-list-radius: 1.5rem;
    --circle-list-gap: 2rem;
  }
}

@screen xl {
  :root {
    --circle-list-gap: 4rem;
  }
}

@screen 2xl {
  :root {
    --circle-list-gap: 6em;
  }
}

.circle-list {
  display: flex;
  flex-basis: var(--circle-list-height);
  flex-wrap: wrap;
  gap: var(--circle-list-gap);
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.circle-list li {
  color: var(--circle-list-color);
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: calc(2 * var(--circle-list-radius));
  justify-content: center;
  position: relative;
  width: calc(2 * var(--circle-list-radius));
}

.circle-list li::before {
  background-color: var(--circle-list-bg-color);
  border: 1px solid var(--circle-list-bg-color);
  border-radius: 50%;
  content: "";
  position: absolute;
  height: calc(2 * var(--circle-list-radius));
  width: calc(2 * var(--circle-list-radius));
  transition: all 0.3s ease;
}

.circle-list li > * {
  z-index: 1;
}

.circle-list li hr {
  border-top: 1px solid var(--circle-list-line-color);
  left: 50%;
  position: absolute;
  top: var(--circle-list-radius);
  width: calc(50% + var(--circle-list-gap));
  z-index: -10;
}

.circle-list li:last-child hr {
  visibility: hidden;
}

.boletim-mensal .active::before {
  background-color: var(--circle-list-active-color);
  border: 1px solid var(--circle-list-active-color);
}

.boletim-mensal .disabled {
  --circle-list-color: var(--color-blue-dark);
  opacity: 0.5;
}

.boletim-mensal .disabled::before {
  background-color: white;
}
