.dashboard-menu {
  height: 100%;
}

.dashboard-menu > li {
  align-items: center;
  display: flex;
  @apply min-w-0;
  @apply text-sm;
}

.dashboard-menu > li.active {
  @apply bg-menu-active;
}

.dashboard-menu.submenu > li {
  @apply border-r;
  @apply border-r-gray-300;
}
