:root {
  --lista-circular-active-color: #f19146;
  --lista-circular-bg-color: #ccc;
  --lista-circular-color: white;
  --lista-circular-height: calc(3 * var(--lista-circular-radius));
  --lista-circular-line-color: #ccc;
  --lista-circular-radius: 1.15rem;
  --lista-circular-gap: 1rem;
}

@screen lg {
  :root {
    --lista-circular-radius: 1.5rem;
    --lista-circular-gap: 2rem;
  }
}

@screen xl {
  :root {
    --lista-circular-gap: 4rem;
  }
}

@screen 2xl {
  :root {
    --lista-circular-gap: 6em;
  }
}

.lista-circular {
  display: flex;
  /* flex-basis: var(--lista-circular-height); */
  flex-wrap: wrap;
  gap: var(--lista-circular-gap);
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.lista-circular > li {
  position: relative;
}

.lista-circular .item {
  color: var(--lista-circular-color);
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: calc(2 * var(--lista-circular-radius));
  justify-content: center;
  position: relative;
  width: calc(2 * var(--lista-circular-radius));
}

.lista-circular li::before {
  background-color: var(--lista-circular-bg-color);
  border: 1px solid var(--lista-circular-bg-color);
  border-radius: 50%;
  content: "";
  position: absolute;
  height: calc(2 * var(--lista-circular-radius));
  width: calc(2 * var(--lista-circular-radius));
  transition: all 0.3s ease;
}

.lista-circular li > :not(hr) {
  z-index: 1;
}

.lista-circular li > hr {
  border-top: 1px solid var(--lista-circular-line-color);
  left: 50%;
  position: absolute;
  top: var(--lista-circular-radius);
  width: calc(50% + var(--lista-circular-gap));
  z-index: -10;
}

.lista-circular li:last-child hr {
  visibility: hidden;
}

.boletim-mensal .active::before {
  background-color: var(--lista-circular-active-color);
  border: 1px solid var(--lista-circular-active-color);
}

.boletim-mensal .disabled {
  --lista-circular-color: var(--color-blue-dark);
  opacity: 0.5;
}

.boletim-mensal .disabled::before {
  background-color: white;
}
