@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./table.css");

@layer base {
  h1 {
    @apply font-semibold;
    @apply text-4xl;
  }
  h2 {
    @apply font-semibold;
    @apply text-3xl;
  }
  h3 {
    @apply font-semibold;
    @apply text-xl;
  }
  h4 {
    @apply font-semibold;
    @apply text-lg;
  }
  h5 {
    @apply font-semibold;
    @apply text-sm;
  }
  h6 {
    @apply font-semibold;
    @apply text-xs;
  }

  .min-h-unset {
    min-height: unset;
  }

  .mirror {
    transform: scale(-1, 1);
  }

  .overflow-initial {
    overflow: initial;
  }

  .overflow-unset {
    overflow: unset;
  }
}

:root {
  --dashboard-header-height: 98px;

  /* COLORS - MUST SYNC with tailwind.config.js*/
  --color-em-atraso: #b37476;
  --color-em-dia: #459d49;
  --color-despesa: #efb4a3;
  --color-receita: #617e8c;
  --color-negativo: #c0392b;
  --color-positivo: #27ae60;
  --color-chart-alerta: #f4b351;
  --color-chart-info: #eff170;
  --color-chart-negativo: #e68465;
  --color-chart-positivo: #556778;
  --color-chart-muito-positivo: #8ba2ad;
  --color-gray-header: #f8f8f8;
  --color-menu-active: #e3e3e3;
  --color-gray-light: #d1d5db;
  --color-gray-medium: #6b7280;
  --color-gray-dark: #4b5563;
  --color-blue-dark: #556778;
  --color-blue-menu: #364b60;
  --color-link: #5486b3;

  --color-primary: #204d74;
  --color-primary-hover: #204d74;

  --table-border-color: #eee;
  --table-header-row-bg-color: #f8f9fa;
  --table-odd-row-bg-color: #f7f7f7c7;
}

body {
  height: 100%;
  overflow: hidden;
}

header {
  @apply z-10;
}

header a {
  height: 100%;
}

a[target="_blank"],
a:hover {
  @apply text-link;
}

.button {
  align-items: center;
  display: flex;
  justify-content: center;
  @apply p-2;
  @apply rounded-md;
  @apply text-sm;
}

.button.primary {
  background-color: var(--color-primary);
  color: white;
}

.button.primary:hover {
  background-color: var(--color-primary-hover);
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fa-receita svg:first-child {
  font-size: 0.6em;
  margin-right: -0.5em;
}

.fa-despesa svg:last-child {
  font-size: 0.6em;
  margin-left: -0.5em;
}

.grid-cols-responsive {
  grid-template-columns: repeat(auto-fill, minmax(304px, 1fr));
}

ul.styled {
  list-style-type: disc;
  text-align: left;
  @apply pl-8;
}

ul.styled li {
  @apply py-1;
  @apply tracking-wide;
  @apply text-sm;
}

@screen sm {
  .container {
    width: 750px;
  }
}

@screen lg {
  .container {
    width: 970px;
  }
}

@screen xl {
  .container {
    width: 1170px;
  }

  .grid-cols-responsive-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid-cols-responsive-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .grid-cols-responsive-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .grid-cols-responsive-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .grid-cols-responsive-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
