.municipio-obrigacao-envio-ano:not(:last-child)::after {
  border-top: 1px solid #ccc;
  content: "----";
  height: 1px;
  left: 50px;
  overflow-y: hidden;
  position: absolute;
  top: 30px;
  width: 30px;
  z-index: -1;
}
